<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="/assets/styles.css"/>
    <link rel="stylesheet" href="../assets/styles.css" type="text/css">
    <link rel="stylesheet" href="../assets/styles.css" type="text/css"/>

    <title>Group Dashboard</title>
</head>
<body>
    <%- include('./partials/_TopNavigationPartial.html') %>

    <div class="grid_12">
         <div class="groupButtonDiv">
           <%- include('./partials/_GroupButtons.html') %>
         </div>
         
         <header id="dashboard">
          <h1 id="dashboardHeader">This Week's Meeting Time for <% if(typeof groupName != 'undefined') { %>
            <%= groupName %>
          <% } %></h1>
         </header>
        <div id="meetingTimes">
                <table>
                    <tr>
                        <td class="weekCalendar">Mon</td>
                        <td class="weekCalendar">Tues</td>
                        <td class="weekCalendar">Wed</td>
                        <td class="weekCalendar">Thurs</td>
                        <td class="weekCalendar">Fri</td>
                        <td class="weekCalendar">Sat</td>
                        <td class="weekCalendar">Sun</td>
                    </tr>
                    <tr>
                        <th class="timeRow"></th>
                        <th class="timeRow"></th>
                        <th class="timeRow"></th>
                        <th class="timeRow"></th>
                        <th class="timeRow"></th>
                        <th class="timeRow"></th>
                        <th class="timeRow"></th>
                    </tr>
                </table>
            </div>
            <div class="groupLinks">
              <form name="register-form" method="POST" action="/user/login">
                <div id="addURL">
                  <input size="100" placeholder="URL: https://app.groupme.com/chats" type="text" id="urlinput" name="url">
                  <button type="submit" value="Submit" class="groupmeet-btn urlBtn">Add URL</button>
                </div>
              </form>
              <form name="register-form" method="POST" action="/comment/newComment">
                <div id="addComment">
                  <input size="100" placeholder="COMMENT: when is our assignment due?" type="text" id="commentinput" name="text">
                  <input type="hidden" name="fullName" value= <%= global.fullName %>>
                  <input type="hidden" name="groupId" value= <%= global.groupId %>>
                  <button type="submit" value="Submit" class="groupmeet-btn commentBtn">Add Comment</button>
                </div>
              </form>
            </div>
          <div class="availabilityWrapper">
            <div class="grid_6">
                <h2 id="boxHeader">Urls</h2>
                <div id="urlBox"></div>
            </div>
            <div class="grid_6">
                <h2 id="boxHeader">Comments</h2>
                <div id="commentBox">
                  <% for(var i=0; i<global.groupComments.length; i++) {%>                  
                    
                      <p style="color:black"><%= global.groupComments[i]["creatorName"]%>: 
                      <%= global.groupComments[i]["text"]%></p>
                        <a href="/comment/deleteComment/<%= global.groupComments[i]['_id']%>" class="actionButtonsTM">Delete</a>
                     <br>
                  <% } %>
                </div>
            </div>
          </div>
      </div>
    </body>
</html>
