<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/assets/styles.css">
      <link rel="icon" href="/assets/favicon.png">
      <link rel="stylesheet" href="/assets/styles.css"/>

      <title>Group Dashboard</title>
  </head>
  <body>
      <%- include('./partials/_TopNavigationPartial.html') %>

      <div class="grid_12">
        <div class="groupButtonDiv">
          <%- include('./partials/_GroupButtons.html') %>
        </div>
        <header id="groupSettings">
            <h1 id="accountHeader">Group Settings</h1>
        </header>

        <div class="groupLinks">
          <div id="groupNameDiv">
            <h1 class="groupSettingsSubHead">Group: <%= global.groupName %></h1>
            <!-- <input size="100" value="" type="text" id="groupNameInput" class="groupSettingsInput" name="groupName"> -->
            <!-- <button type="submit" value="Submit" class="groupmeet-btn urlBtn">Save</button> -->
          </div>
          <!-- <div id="inviteUserDiv">
            <h1 class="groupSettingsSubHead">Invite</h1>
            <input size="100" placeholder="EMAIL: lauren.hunter23@gmail.com" type="text" id="inviteInput" class="groupSettingsInput" name="inviteUser">
            <button type="submit" value="Submit" class="groupmeet-btn inviteBtn">Invite User</button>
          </div> -->
          <div id="members">
            <h1 class="groupSettingsSubHead">Members</h1>
            <!-- <input size="100" value="Jim Reeves" type="text" id="membersInput" class="groupSettingsInput" name="groupMember">
            <button type="submit" value="Submit" class="groupmeet-btn urlBtn">Remove</button>
            <input size="100" value="Sally Fields" type="text" id="membersInput" class="groupSettingsInput" name="groupMember">
            <button type="submit" value="Submit" class="groupmeet-btn urlBtn">Remove</button>
            <input size="100" value="Bob Dylan" type="text" id="membersInput" class="groupSettingsInput" name="groupMember">
            <button type="submit" value="Submit" class="groupmeet-btn urlBtn">Remove</button> -->
            <% for(var i=0; i<global.groupMembers.length; i++) {%>  
              <% var temp = global.groupMembers[i]['firstName'] + ' ' + global.groupMembers[i]['lastName'] %>   
              <input size="100" value= "<%= temp %>" type="text" id="membersInput" class="groupSettingsInput" name="groupMember">
              <% if(fullName == global.groupMembers[i]['firstName'] + ' ' + global.groupMembers[i]['lastName']) { %>
                <!-- <button type="submit" value="Submit" class="groupmeet-btn urlBtn">Leave Group</button> -->
                <a href="/user/leaveGroup/<%= global.groupMembers[i]['_id']%>" class="actionButtonsTM">Leave</a>
              <% } %>
              <br>
              <br>
              
            <% } %>
          </div>
          
        </div>
        <div class="deleteDiv">
          <a href="/group/deleteGroup" class="actionButtonsTM">Delete Group</a>
        </div>
      </div>
  </body>
</html>
