<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="/assets/styles.css"/>
    <link rel="stylesheet" href="../assets/styles.css" type="text/css">
    <link rel="stylesheet" href="../assets/styles.css" type="text/css"/>

    <title>My Account</title>
</head>
<body class="peachBody">
  <%- include('./partials/_TopNavigationPartial.html') %>
  <div class="grid_12">
      <header id="myAccount">
          <h1 id="accountHeader">My Account</h1>
      </header>
        <div class="accountWrapper">
          <div>
            <h2 class="formTitle">Personal</h2>
            <form method="POST" action="/user/updatePersonal">
              <label for="name" class="formLabel">FIRST NAME</label><br />
              <input type="text" class="inputsForRegister2" placeholder="new first name" name="firstName" value="<%= firstName %>"></input><br />
              <br />
              <label for="email" class="formLabel">LAST NAME</label><br />
              <input type="text" class="inputsForRegister2" placeholder="new last name" name="lastName" value="<%= lastName %>"></input><br />
              <br />
              <label for="phone" class="formLabel">EMAIL: <% if(typeof email != 'undefined') { %>
                <%= email %>
              <% } %></label><br />
              <input type="email" class="inputsForRegister2" placeholder="new email" name="email" value="<%= email %>"></input><br />
              <input type="text" class="inputsForRegister2" placeholder="profile picture URL" name="profilePic" value="<%= userPic %>"></input><br />
              <button type="submit" value="Submit"  class="groupmeet-btn accountBtns">Save Settings</button>
            </form>
          </div>
          <div>
            <h2 class="formTitle">Password</h2>
            <form method="POST" action="/user/updatePassword">
              <label for="pass" class="formLabel">ENTER CURRENT</label><br />
              <input type="password" class="inputsForRegister2" name="pass"></input><br />
              <br />
              <label for="newpass" class="formLabel">ENTER NEW</label><br />
              <input type="password" class="inputsForRegister2" name="newpass"></input><br />
              <br />
              <label for="verifypass" class="formLabel">VERIFY NEW</label><br />
              <input type="password" class="inputsForRegister2" name="verifypass"></input><br />
              <button type="submit" value="Submit" class="groupmeet-btn accountBtns">Update Password</button>
            </form>
          </div>
        </div>
      </div>
</body>
